/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

body {
  /* box-sizing: border-box; */
  margin: 0;
  background-color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  margin: 2rem;
}

p {
  font-size: 1.25rem;
}

#header {
  background-image: url('./images/Mask\ Group\ 1.png');
  background-color: azure;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
#top-bar img {
  height: 2rem;
}

#top-bar a {
  opacity: 60%;
}

@media (max-width: 800px) {
  #top-bar a {
    display: none;
  }
}

#top-bar {
  display: flex;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  justify-content: space-between;
  align-items: center;
}

#top-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 900;
  gap: 2rem;
  font-size: 1.25rem;
}
#top-bar button {
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  color: azure;
  background-color: #410ff8;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border-radius: 0.25rem;
  border: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#top-bar button:hover {
  background-color: blue;
}

#top-bar li {
  cursor: pointer;
}

#top-bar li:hover {
  color: darkblue;
}

#heading {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
}
#heading p {
  padding-left: 4rem;
  padding-right: 4rem;
}

.green {
  color: #32bba4;
  font-weight: 800;
}

#pricing {
  display: flex;
  padding: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.plan {
  padding: 2.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: gray;
  border-radius: 1rem;
  width: 19rem;
}

.plan h4 {
  margin: 0;
}

.annual-price {
  font-size: 0.75rem;
  opacity: 70%;
  margin-bottom: 1.5rem;
}

.plan h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.plan.blue {
  border-style: none;
  background-color: #410ff8;
  color: azure;
}

.plan.blue button {
  background-color: azure;
  color: #410ff8;
}

.plan.blue button:hover {
  background-color: whitesmoke;
}

.plan button {
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  color: azure;
  background-color: #410ff8;
  padding: 1.35rem 1.25rem;
  border-radius: 0.25rem;
  border: 0;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.plan button:hover {
  background-color: blue;
}

.plan ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.plan li {
  display: flex;
  font-size: 0.85rem;
  font-weight: 600;
  gap: 1rem;
  align-items: center;
}

.plan img {
  height: 1.75rem;
  width: 1.75rem;
  background-color: #c2b2fd;
  border-radius: 100%;
  padding: 0.5rem;
}

.plan.blue img {
  background-color: azure;
}
